*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: transparent;   
    
}

.container3{
    height: 100%;
    width:100%;
}

.layer1 img{
    left: 0;
    bottom:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer2 img{
    left: 0;
    bottom:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer3 img{
    left: 0;
    bottom:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer4 img{
    left: 0;
    bottom:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer1{
    left: 0;
    top:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer2{

    left: 0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer3{
    left: 0;
    max-width: 100%; height: auto;
    position: fixed;
}

.layer4{
    left: 0;
    max-width: 100%; height: auto;
    position: fixed;
    opacity:45%;
}

.wo{padding-top:15px;}

.pen{
    position: fixed;
    right: 10%;
    top:2.5%;
    animation-name:waa;
	animation-duration: 3s; /*지속시간 */
	animation-timing-function: ease-out;
	animation-delay: 0s; /* 애니메이션 시작하기까지 */
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-play-state: running;
}

@keyframes waa{
	0%{
		transform: translateY(0px);
	}

	60%{
		transform: translateY(-50px) translateX(-50px) rotate(-10deg);

	}

	100%{
		transform: translateY(0px);
	}

	}

.container2{
    left: 0;
    top:0;
    max-width: 100%; height: auto;
    position: fixed;
}

.text{
    position: fixed;
    color:rgb(0, 0, 0);
    font-size: 1.3vw;
    font-family: henriette, sans-serif;

    font-weight: 700;
    
    font-style: italic;
    top: 50%;
    left: 17.7%;
    transform: rotate(10deg);
    text-align:center;

}

.plz{
    color: rgba(255, 255, 255, 0.322);
    
    position: fixed;
    left:0;
    top: 0;
    margin-left:1.046vw;
    margin-top: 10px;
}

.E{
    margin-left:60px;
}

.text1{
    position: fixed;
    color:rgb(0, 0, 0);
    font-size: 1.046vw;
    top:39.8148vh;
    left:39.583vw;
    transform: rotate(-5deg);
    text-align:left;
    opacity: 85%;
    mix-blend-mode: multiply;

}

h2{
    margin-left: -15px;
    margin-bottom: -7.5px;

    font-family: superior-title, sans-serif;

    font-weight: 500;
    
    font-style: normal;}

p{
    font-family: superior-title, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 7.5px;
    margin-left: 15px;
}

a:link {
    color : rgb(0, 0, 0);
    text-decoration: none;
  }

  a:visited {
    color : black;
    text-decoration: none;
}

 
